<!-- Account Summary Page -->
<div data-role="page" class="student-needs-removed" id="account-summary">

    <!-- Header -->
    <div id="account-summary-header" class="header blue-grad" data-role="header">	
        
        <!-- Loading Indicator -->	
        <img src="img/loading.gif" class="loading-indicator ui-btn-right"/>
            
        <!-- Title -->
        <div class="header-title">Account Summary</div>	
        
        <!-- Back button -->
        <a class="blue-button-grad back-button" data-corners="true" data-theme="b" data-icon="back" data-role="button" data-rel="back" >Back</a>
        
    </div>

    
    <!-- Account summary list -->
    <div id="account-summary-scroller" class="scroller">
        <ul data-corners="false" id='account-summary-list' data-role="listview">
        </ul>
    </div>
    
</div>