<li data-role="list-divider" class="read-only-blue-grad">{{name}}</li>
{{#each entries}}
<li><h1 style="max-width:70%!important;" class="left"><small>{{description}}</small></h1><p class="right">{{total}}</p></li>
{{/each}}
<li><div style="clear:both;"><h1 style="max-width:70%!important;" class="left"><small>Balance:</small></h1><p class="right">{{balance}}</p></div></li>