<li class="grey-grad news-item">
    <div>
        <h1 style="white-space:normal">
            {{title}}
        </h1>
        
        <p style="white-space:normal">
            {{{mainHtml}}}
        </p>
        
    </div>
</li>