<!-- Current Holds Page -->
<div class="grey-uniform student-needs-removed" data-role="page" id="current-holds">

    <!-- Header -->
    <div id="current-holds-header" class="header blue-grad" data-role="header">	
        
        <!-- Loading Indicator -->	
        <img src="img/loading.gif" class="loading-indicator ui-btn-right"/>
            
        <!-- Title -->
        <div class="header-title">Current Holds</div>	
        
        <!-- Back button -->
        <a class="blue-button-grad back-button" data-corners="true" data-theme="b" data-icon="back" data-role="button" data-rel="back" >Back</a>
    </div>

    
    <!-- Current holds list -->
    <div id="current-holds-scroller" class="scroller">
        <div id="current-holds-container" style="padding:1em;">
    
        </div>
    </div>
    
</div>