<!-- Degree Evaluation Sublist Page -->
<div  class="student-needs-removed for-degree-evaluation" data-role="page" id="{{id}}">

    <!-- Header -->
    <div class="header blue-grad" data-role="header" >	
        
        <!-- Loading Indicator -->	
        <img src="img/loading.gif" class="loading-indicator ui-btn-right" />
            
        <!-- Title -->
        <div class="header-title">{{name}}</div>	
        
        <!-- Back button -->
        <a class="blue-button-grad back-button" data-corners="true" data-theme="b" data-icon="back" data-role="button" data-rel="back" >Back</a>
        
    </div>
    
    <div class="scroller">
        <ul id='{{id}}-list' data-role="listview" style="line-height:1.1em">
        </ul>
    </div>
    
</div>