<li class="directory-item">
        
    <img class="ui-li-icon directory-icon" src="{{imgUrl}}"></img>
    
    <div class="directory-item-text">
    
        <h1 style="white-space:normal">
            {{title}}
        </h1>
        
        {{#info}}
        
        <p style="font-weight:{{weight}}">
            {{message}}
        </p>
        
        {{/info}}
        
    </div>
        
</li>