<div class="grey-uniform" data-role="page" kulink="{{link}}" id="{{pageId}}">

    <!-- Header -->
    <div class="header blue-grad" data-role="header" >	
        
        <!-- Loading Indicator -->	
        <img src="img/loading.gif" class="loading-indicator ui-btn-right" />
            
        <!-- Title -->
        <div class="header-title">{{headerTitle}}</div>	
        
        <!-- Back button -->
        <a class="blue-button-grad back-button" data-corners="true" data-theme="b" data-icon="back" data-role="button" data-rel="back" >Back</a>
        
    </div>

    <div class="scroller" id="{{scrollerId}}"></div>
    
</div>