<!-- Financial Aid -->
<div class="student-needs-removed" data-role="page" id="financial-aid">

    <!-- Header -->
    <div id="financial-aid-header" class="header blue-grad" data-role="header">	
        
        <!-- Loading Indicator -->	
        <img src="img/loading.gif" class="loading-indicator ui-btn-right" />
            
        <!-- Title -->
        <div class="header-title">Financial Aid</div>
        
        <!-- Back button -->
        <a class="back-button blue-button-grad" data-corners="true" data-theme="b" data-icon="back" data-role="button" data-rel="back" >Back</a>
    </div>
    
    <!-- Financial Aid list -->
    <div id="financial-aid-scroller" class="scroller"> 
        <ul data-corners="false" id='financial-aid-list' data-role="listview"></ul>
    </div>
</div>