<li class="student-needs-removed grey-grad">
    <div style="clear:both;">
        <h1 style="max-width:100%!important;" class="left">{{name}}</h1>
    </div>
   
   <div style="clear:both;">
        <p style="max-width:50%!important;" class="left">Credits: {{credits}}</p>
        <p style="max-width:50%!important;" class="right">Grade: {{grade}}</p>
    </div>
</li>