<li>
    <a class="grey-grad news-item" data-transition="none" href="#{{pageId}}">
        <img class="ui-li-icon news-icon" src="{{imgUrl}}"></img>
        
        <div class="main-text">
        
            <h1 style="white-space:normal">
                {{title}}
            </h1>
            
            <p style="white-space:normal">
                {{info}}
            </p>
            
        </div>
        
    </a>
</li>