<!-- Schedule Page -->
<div data-role="page" class="student-needs-removed" id="schedule">
    
    <!-- Fixed Header -->
    <div id="schedule-header" class="header-with-searchbar" data-role="header">	
        
        <!-- Actual header contents --> 
        <div class="header blue-grad">
            
            <!-- Loading Indicator -->	
            <img src="img/loading.gif" class="loading-indicator ui-btn-right" />
                
            <!-- Title -->
            <div class="header-title">Schedule</div>
            
            <!-- Back button -->
            <a class="back-button blue-button-grad" data-corners="true" data-theme="b" data-icon="back" data-role="button" data-rel="back" >Back</a>
        </div>
    
        <!-- Search bar by term--> 
        <div class="searchbar">
         
            <!-- Terms --> 
            <select id="schedule-options" data-native-menu="true" data-mini="true" data-corners="false"></select>
            <table class="schedule" style="height:2.0em;color:black;border-top:1px solid #e1e1e1!important;" width="100%"><tr class="grey"><th></th><th>M</th><th>T</th><th>W</th><th>R</th><th>F</th></tr></table>
        </div>
    </div>
    
    <!-- Schedule scroller -->
    <div id="schedule-scroller"  class="scroller below-searchbar"></div>
</div>
