<li data-icon="minus" id="schedule-planner-chosen-course-{{courseId}}">
   <a onclick="$('#schedule-planner-chosen-course-{{courseId}}').remove();$('#schedule-planner-chosen-course-list').listview('refresh');"> 
        {{courseId}}: {{courseTitle}}
    </a>
</li>