<li class="grey-grad">
    <!-- Folder Item -->
    <div>
        <img style="float:left;margin-top:0.35em" class="ui-li-icon student-list-icon" src="img/grade.png"/>
        <div class="student-list-text-folder-item">
            <h1>{{name}}</h1>
        </div>
        <div class="folder-item-text">{{{content}}}</div>
    </div>
</li>