<!-- Information Page -->
<div class="student-needs-removed" data-role="page" id="information">

    <!-- Header -->
    <div id="information-header" class="header blue-grad" data-role="header">	
        
        <!-- Loading Indicator -->	
        <img src="img/loading.gif" class="loading-indicator ui-btn-right" />
            
        <!-- Title -->
        <div class="header-title">Information</div>
        
        <!-- Back button -->
        <a class="back-button blue-button-grad" data-corners="true" data-theme="b" data-icon="back" data-role="button" data-rel="back" >Back</a>
    </div>
    
    <!-- Information scroller -->
    <div id="information-scroller" class="scroller">
        <ul style="display:none" data-role="listview" style="line-height:1.1em">
        <li data-role="list-divider" class="read-only-blue-grad">Student</li>
        <li class="grey-grad">
            <h1 style="white-space:normal" class="fullName"></h1>
            <span>ID Number:</span><span class="idNumber" style="float:right"></span>
            <div style="margin-bottom:4px"></div>
            <span>Standing:</span><span class="standing" style="float:right"></span>
        </li>
        <li data-role="list-divider" class="read-only-blue-grad">Degree</li>
        <li class="grey-grad program">
            <h1 style="white-space:normal">Program:</h1>
            <p style="white-space:normal"></p>
        </li>
        <li class="grey-grad college">
            <h1 style="white-space:normal">College:</h1>
            <p style="white-space:normal"></p>
        </li>
        <li class="grey-grad major">
            <h1 style="white-space:normal">Major:</h1>
            <p style="white-space:normal"></p>
        </li>
        <li class="grey-grad minor">
            <h1 style="white-space:normal">Minor:</h1>
            <p style="white-space:normal"></p>
        </li>
        <li class="grey-grad concentration">
            <h1 style="white-space:normal">Concentrations:</h1>
            <p style="white-space:normal"></p>
        </li>
        <li class="grey-grad specialty">
            <h1 style="white-space:normal">Specialty:</h1>
            <p style="white-space:normal"></p>
        </li>
        <li data-role="list-divider" class="read-only-blue-grad">Credits</li>
        <li class="grey-grad regularCredits">
            <h1 style="white-space:normal">Institutional:</h1>
            <p style="white-space:normal"></p>
        </li>
        <li class="grey-grad transferCredits">
            <h1 style="white-space:normal">Transfer:</h1>
            <p style="white-space:normal"></p>
        </li>
        </ul>
    </div>
</div>