<!-- Courses Page -->
<div class="student-needs-removed" data-role="page" id="courses">

    <!-- Header -->
    <div id="courses-header" class="header blue-grad" data-role="header">	
        
        <!-- Loading Indicator -->	
        <img src="img/loading.gif" class="loading-indicator ui-btn-right" />
            
        <!-- Title -->
        <div class="header-title">Courses</div>
        
        <!-- Back button -->
        <a class="back-button blue-button-grad" data-corners="true" data-theme="b" data-icon="back" data-role="button" data-rel="back" >Back</a>
    </div>
    
    <!-- Courses scroller -->
    <div id="courses-scroller" class="scroller">
    
        <!-- Student list -->
        <ul id="courses-list" data-role="listview">
            
        </ul>
    </div>
</div>