<li class="grey-grad">
                
    <h1>
        <span style="float:left;max-width:80%;white-space:normal"><b>{{title}}</b></span>
        <span style="float:right"><b>{{grade}}</b></span>
    </h1>
    
    <p><span>{{postedDate}}</span><span style="float:right">{{status}}</span></p>
</li>