<div data-role="page" class="student-needs-removed" id="{{bbId}}-grades">

    <!-- Header -->
    <div class="header blue-grad" data-role="header" >	
        
        <!-- Loading Indicator -->	
        <img src="img/loading.gif" class="loading-indicator ui-btn-right" />
            
        <!-- Title -->
        <div class="header-title">Grades</div>	
        
        <!-- Back button -->
        <a class="blue-button-grad back-button" data-corners="true" data-theme="b" data-icon="back" data-role="button" data-rel="back" >Back</a>
        
    </div>
    
    <!-- Hidden -->
    <div class="bbId" style="display:none">{{bbId}}</div>

    <div class="scroller" id="{{bbId}}-grades-scroller">
    
        <!-- List -->
        <ul style="display:none" id="{{bbId}}-grades-list" data-role="listview"></ul>
    </div>
    
</div>