<li class="grey-grad">
    
    <h1 style="white-space:normal">
        {{college}}
    </h1>
    
    <p>Title: {{title}}</p>
    <p>Equivalent: {{equivalent}}</p>
    <p>Location: {{location}}</p>
    
</li>