    <div class="apidocs">
        <div id="docs-main" class="content">

            <br><br><br>
            <h2>Overview</h2>
            KUMobile is a cross-platform mobile application project for Kettering
            University. The project is focused on information exchange between Kettering 
            and the students. The application targets the following platforms: 
            Android, iOS, and Windows.
            
            <h2>Contribution</h2>
            
            There are multiple ways to build the project. To freely compile in the cloud please 
            refer to Adobe Phonegap Build. If you prefer to build locally reference the 
            either Cordova and/or Phonegap CLI setup and usage for your operating system. 
            The project is available at <a href="https://github.com/garrickbrazil/kumobile/">Github</a>.
            
            <br><br>
            Adobe Phonegap  -->  <a href="http://phonegap.com/developer/">http://phonegap.com/developer/</a> <br>
            Apache Cordova  -->  <a href="http://cordova.apache.org/">http://cordova.apache.org/</a>
            
            
            
            <h2>License</h2>
            
            The project is licensed with <a href="http://www.gnu.org/licenses/gpl-3.0.txt">GPL-3.0</a>
            
             
            <h2> Contact </h2>
                
            Please submit all bugs <a href="https://github.com/garrickbrazil/kumobile/issues/new">here</a>.<br>
            Garrick Brazil - garrick@garrickmail.net
            
        </div>
    </div>


